#all-players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;

}

.single-player-card {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 #8C2323 ;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  color: #F2A413;
  display: flex;
  flex-direction: column;
}

.single-player-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0px;
  
}

.single-player-card h2, .single-player-card p {
  margin: 5px;
}

.selected-player-card {
  flex-basis: 500px;
  box-shadow: 0 4px 10px 0 #8C2323;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  color: #F2A413;
  display: flex;
  flex-direction: column;
}

.selected-player-card > p {
  margin: 10px 0px 0px 0px;
}

.selected-player-card img {
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0px;
}

div {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
 font-size:  200px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body{
  background-color:black ;
}
label {
  color:#F2A413;
}
#new-player-form {
  box-shadow: 0 4px 10px 0 #8C2323;
  margin-bottom: 15px;
}